body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;

}

.container {
    text-align: center;
    align-items: center;
    padding-top: 7%;


    padding-left: 10px;
    font-display: center;



}

.btn {
    display: inline-block;
    color: #1b68ac;

    font-size: 15px;


    padding: 10px;
    border: white;
    border-radius: 10px;
    background-color: #192257;
    color: #fff;
    cursor: center;

}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;

}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}


@media(min-aspect-ratio : 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }

}

@media(max-aspect-ratio : 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }

}