#congratulations-message {
  width: 400px;
  padding: 20px;
  border: 5px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: transparent ;
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(15px);
  margin: 0 auto;
  border-color:  black;
  margin-top: 50px;
  
  font-family: Arial, sans-serif;
}

#message-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#completed-text {
  font-size: 18px;
  margin-bottom: 20px;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

#hug-button, #share-button {
  padding: 5px 15px;
  border: 1px solid #241c1c;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(238, 230, 156);
}
.back-video{
  position: absolute;
  right:0;
  bottom: 0;
  z-index: -1;

}


@media(min-aspect-ratio : 16/9){
  .back-video{
      width: 100%;
      height: auto;
  }

}
@media(max-aspect-ratio : 16/9){
  .back-video{
      width: auto;
      height: 100%;
  }

}